sentinel-incident-simple.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "sentinel-incident-simple",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for the Logic App"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "incident_id": {
                                            "type": "string",
                                            "description": "The Sentinel incident ID to retrieve details for"
                                        }
                                    },
                                    "required": ["incident_id"]
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_incident_ID": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentID",
                                        "type": "string",
                                        "value": "@{triggerBody()?['incident_id']}"
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Call_Sentinel_API": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/082909d8-d042-4ef9-99f9-dd4a4ed283de/resourceGroups/test_sentinel_rg/providers/Microsoft.OperationalInsights/workspaces/testsentinel1203/providers/Microsoft.SecurityInsights/incidents/@{variables('IncidentID')}",
                                "queries": {
                                    "api-version": "2023-02-01"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://management.azure.com/"
                                }
                            },
                            "runAfter": {
                                "Get_incident_ID": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_incident_details": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentName",
                                        "type": "string",
                                        "value": "@{body('Call_Sentinel_API')?['properties']?['title']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Call_Sentinel_API": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_incident_severity": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentSeverity",
                                        "type": "string",
                                        "value": "@{body('Call_Sentinel_API')?['properties']?['severity']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Extract_incident_details": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_alerts": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://management.azure.com/subscriptions/082909d8-d042-4ef9-99f9-dd4a4ed283de/resourceGroups/test_sentinel_rg/providers/Microsoft.OperationalInsights/workspaces/testsentinel1203/providers/Microsoft.SecurityInsights/incidents/@{variables('IncidentID')}/alerts",
                                "queries": {
                                    "api-version": "2023-02-01"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://management.azure.com/"
                                }
                            },
                            "runAfter": {
                                "Extract_incident_severity": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Process_alert_names": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AlertNames",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Extract_alerts": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Parse_alert_details": {
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Extract_alerts')?['value']",
                                "select": {
                                    "alertName": "@item()?['properties']?['alertDisplayName']",
                                    "alertSeverity": "@item()?['properties']?['severity']",
                                    "alertStatus": "@item()?['properties']?['status']",
                                    "productName": "@item()?['properties']?['productName']",
                                    "alertId": "@item()?['name']",
                                    "alertType": "@item()?['properties']?['alertType']",
                                    "systemAlertId": "@item()?['properties']?['systemAlertId']"
                                }
                            },
                            "runAfter": {
                                "Process_alert_names": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_alert_rules_with_KQL": {
                            "type": "Foreach",
                            "foreach": "@body('Parse_alert_details')",
                            "actions": {
                                "Get_alert_rule_details": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/082909d8-d042-4ef9-99f9-dd4a4ed283de/resourceGroups/test_sentinel_rg/providers/Microsoft.OperationalInsights/workspaces/testsentinel1203/providers/Microsoft.SecurityInsights/alertRules",
                                        "queries": {
                                            "api-version": "2023-02-01",
                                            "$filter": "contains(displayName,'@{items('Get_alert_rules_with_KQL')?['alertName']}')"
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://management.azure.com/"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Extract_KQL_query": {
                                    "type": "Compose",
                                    "inputs": {
                                        "alertName": "@items('Get_alert_rules_with_KQL')?['alertName']",
                                        "alertId": "@items('Get_alert_rules_with_KQL')?['alertId']",
                                        "alertSeverity": "@items('Get_alert_rules_with_KQL')?['alertSeverity']",
                                        "alertStatus": "@items('Get_alert_rules_with_KQL')?['alertStatus']",
                                        "productName": "@items('Get_alert_rules_with_KQL')?['productName']",
                                        "alertRuleResponse": "@body('Get_alert_rule_details')",
                                        "kqlQuery": "@if(and(contains(body('Get_alert_rule_details'), 'value'), greater(length(body('Get_alert_rule_details')?['value']), 0)), coalesce(body('Get_alert_rule_details')?['value'][0]?['properties']?['query'], 'Query field not found in rule properties'), 'KQL query not found - this may be a built-in or external alert')",
                                        "ruleName": "@if(and(contains(body('Get_alert_rule_details'), 'value'), greater(length(body('Get_alert_rule_details')?['value']), 0)), coalesce(body('Get_alert_rule_details')?['value'][0]?['properties']?['displayName'], 'Display name not found'), 'Rule not found')",
                                        "ruleDescription": "@if(and(contains(body('Get_alert_rule_details'), 'value'), greater(length(body('Get_alert_rule_details')?['value']), 0)), coalesce(body('Get_alert_rule_details')?['value'][0]?['properties']?['description'], 'Description not available'), 'Description not available')"
                                    },
                                    "runAfter": {
                                        "Get_alert_rule_details": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Run_KQL_query": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "https://management.azure.com/subscriptions/082909d8-d042-4ef9-99f9-dd4a4ed283de/resourceGroups/test_sentinel_rg/providers/Microsoft.OperationalInsights/workspaces/testsentinel1203/query",
                                        "queries": {
                                            "api-version": "2017-10-01"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "body": {
                                            "query": "@{if(and(not(equals(outputs('Extract_KQL_query')?['kqlQuery'], 'KQL query not found - this may be a built-in or external alert')), not(empty(outputs('Extract_KQL_query')?['kqlQuery']))), concat(trim(outputs('Extract_KQL_query')?['kqlQuery']), ' | limit 10'), 'print \"No KQL query available for this alert\"')}",
                                            "timespan": "P7D"
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://management.azure.com/"
                                        }
                                    },
                                    "runAfter": {
                                        "Extract_KQL_query": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Process_KQL_results": {
                                    "type": "Compose",
                                    "inputs": {
                                        "alertName": "@outputs('Extract_KQL_query')?['alertName']",
                                        "alertId": "@outputs('Extract_KQL_query')?['alertId']",
                                        "alertSeverity": "@outputs('Extract_KQL_query')?['alertSeverity']",
                                        "alertStatus": "@outputs('Extract_KQL_query')?['alertStatus']",
                                        "productName": "@outputs('Extract_KQL_query')?['productName']",
                                        "kqlQuery": "@outputs('Extract_KQL_query')?['kqlQuery']",
                                        "ruleName": "@outputs('Extract_KQL_query')?['ruleName']",
                                        "ruleDescription": "@outputs('Extract_KQL_query')?['ruleDescription']",
                                        "queryResults": {
                                            "rowCount": "@if(contains(body('Run_KQL_query'), 'tables'), length(first(body('Run_KQL_query')?['tables'])?['rows']), 0)",
                                            "columns": "@if(contains(body('Run_KQL_query'), 'tables'), first(body('Run_KQL_query')?['tables'])?['columns'], createArray())",
                                            "data": "@if(contains(body('Run_KQL_query'), 'tables'), first(body('Run_KQL_query')?['tables'])?['rows'], createArray())",
                                            "executionTime": "@if(contains(body('Run_KQL_query'), 'statistics'), body('Run_KQL_query')?['statistics']?['query']?['executionTime'], 'N/A')",
                                            "queryStatus": "@if(contains(body('Run_KQL_query'), 'error'), 'Failed', 'Success')",
                                            "errorMessage": "@if(contains(body('Run_KQL_query'), 'error'), body('Run_KQL_query')?['error']?['message'], null)"
                                        }
                                    },
                                    "runAfter": {
                                        "Run_KQL_query": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_alert_details": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Output_incident_details": {
                            "type": "Compose",
                            "inputs": {
                                "message": "🚨 Sentinel Incident Details Retrieved with KQL Results",
                                "incident_id": "@variables('IncidentID')",
                                "incident_name": "@variables('IncidentName')",
                                "incident_severity": "@variables('IncidentSeverity')",
                                "incident_status": "@{body('Call_Sentinel_API')?['properties']?['status']}",
                                "incident_number": "@{body('Call_Sentinel_API')?['properties']?['incidentNumber']}",
                                "workspace": "testsentinel1203",
                                "timestamp": "@utcnow()",
                                "summary": "Incident '@{variables('IncidentName')}' has severity '@{variables('IncidentSeverity')}'",
                                "alerts_count": "@length(body('Extract_alerts')?['value'])",
                                "alerts_with_kql_results": "@body('Get_alert_rules_with_KQL')"
                            },
                            "runAfter": {
                                "Get_alert_rules_with_KQL": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
        },
        "triggerUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2017-07-01').value]"
        }
    }
}
