sentinel-incident-simple.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "sentinel-incident-simple",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for the Logic App"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "incident_id": {
                                            "type": "string",
                                            "description": "The Sentinel incident ID to retrieve details for"
                                        }
                                    },
                                    "required": ["incident_id"]
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_incident_ID": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentID",
                                        "type": "string",
                                        "value": "@{triggerBody()?['incident_id']}"
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Call_Sentinel_API": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/082909d8-d042-4ef9-99f9-dd4a4ed283de/resourceGroups/test_sentinel_rg/providers/Microsoft.OperationalInsights/workspaces/testsentinel1203/providers/Microsoft.SecurityInsights/incidents/@{variables('IncidentID')}",
                                "queries": {
                                    "api-version": "2023-02-01"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://management.azure.com/"
                                }
                            },
                            "runAfter": {
                                "Get_incident_ID": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_incident_details": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentName",
                                        "type": "string",
                                        "value": "@{body('Call_Sentinel_API')?['properties']?['title']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Call_Sentinel_API": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_incident_severity": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentSeverity",
                                        "type": "string",
                                        "value": "@{body('Call_Sentinel_API')?['properties']?['severity']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Extract_incident_details": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Output_incident_details": {
                            "type": "Compose",
                            "inputs": {
                                "message": "🚨 Sentinel Incident Details Retrieved",
                                "incident_id": "@variables('IncidentID')",
                                "incident_name": "@variables('IncidentName')",
                                "incident_severity": "@variables('IncidentSeverity')",
                                "incident_status": "@{body('Call_Sentinel_API')?['properties']?['status']}",
                                "incident_number": "@{body('Call_Sentinel_API')?['properties']?['incidentNumber']}",
                                "workspace": "testsentinel1203",
                                "timestamp": "@utcnow()",
                                "summary": "Incident '@{variables('IncidentName')}' has severity '@{variables('IncidentSeverity')}'"
                            },
                            "runAfter": {
                                "Extract_incident_severity": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
        },
        "triggerUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2017-07-01').value]"
        }
    }
}
